[package]
name = "microkernel"
version = "0.1.0"
edition = "2024"

[features]
default = []
usermode = []

[dependencies]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true
opt-level = "z"
