[build]
target = "x86_64-unknown-none"

[target.x86_64-unknown-none]
linker = "rust-lld"
rustflags = ["-C", "relocation-model=static"]

[unstable]
build-std = ["core"]
build-std-features = ["compiler-builtins-mem"]
